name: Sync labels

on:
  workflow_dispatch:
  push:
    paths:
      - .github/labels.yml

jobs:
  sync-labels:
    runs-on: ubuntu-latest
    permissions:
      issues: write
      repository-projects: write
      pull-requests: write
    steps:
      - uses: actions/checkout@v4
      - name: Load labels yaml
        id: labels
        run: |
          echo "labels<<'EOF'" >> "$GITHUB_OUTPUT"
          cat .github/labels.yml >> "$GITHUB_OUTPUT"
          echo "EOF" >> "$GITHUB_OUTPUT"
      - name: Apply labels from template
        uses: peter-evans/create-or-update-labels@v4
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          labels: ${{ steps.labels.outputs.labels }}
