name: Sync labels

on:
  workflow_dispatch:
  push:
    paths:
      - .github/labels.yml

jobs:
  sync-labels:
    runs-on: ubuntu-latest
    permissions:
      issues: write
      repository-projects: write
      pull-requests: write
    steps:
      - uses: actions/checkout@v4
      - name: Apply labels from template
        uses: peter-evans/create-or-update-labels@v4
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          labels: ${{ toJson(fromYaml(file('.github/labels.yml'))) }}
